GitHub 所声明的开源协议.pdf
git设置忽略文件和目录.pdf
Python Tkinter command和bind.pdf
mfcc参数介绍.md
Voxforge
__pycache__
/venv
/.idea
/.__pycache__
what to do next.md
help
original_targets_batched.pkl
train_data_batched.pkl
download.py
**/__init__.py
